<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9673559087-j47078ts0dtoe7274m472au819mm426h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9673559087-j47078ts0dtoe7274m472au819mm426h</string>
	<key>API_KEY</key>
	<string>AIzaSyD0k0Ie31r0924QZYSabTAizzhTPzTv2ps</string>
	<key>GCM_SENDER_ID</key>
	<string>9673559087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saikan.authdemo</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-efe89</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-efe89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9673559087:ios:595d23e82309397d218ada</string>
	<key>DATABASE_URL</key>
	<string>https://auth-demo-efe89.firebaseio.com</string>
</dict>
</plist>